In [9]:
my_list = ['Subandrio','adul','saif']

my_list.append('ikhsan')
my_list.insert(0,'kicau mania')
my_list.remove('Subandrio')
del my_list[2]

for nama in my_list:
    print(nama)

kicau mania
adul
ikhsan

In [17]:
print(my_list[1])
print(my_list.index('ikhsan'))
print(my_list.count('ikhsan'))
print(len(my_list))

adul
2
1
3

In [27]:
my_list22 = [1,5,3,6,2,4]

my_list22.reverse()
print(my_list22)

[4, 2, 6, 3, 5, 1]

In [29]:
my_list22.sort()
print(my_list22)

my_list22.reverse()
print(my_list22)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [41]:
data = {'nama':'fadil','umur':20,'kelas':'2C'}

data['nim'] = '23090118'
data['alamat'] = 'jalan raya'
del data['kelas']
print(data)

{'nama': 'fadil', 'umur': 20, 'nim': '23090118', 'alamat': 'jalan raya'}

In [7]:
person = [
    {'nama':'herman bengkulu','kota':'ohio'},
    {'nama':'reza kecap','kota':'miami'},
    {'nama':'zaki indomie','kota':'ohio'},
    {'nama':'agus fried chicken','kota':'ohio'}
]

j = 0
for i in person:
    j += 1
    print(f'{j}. Nama:{i['nama']}\n   Kota:{i["kota"]}')

1. Nama:herman bengkulu
   Kota:ohio
2. Nama:reza kecap
   Kota:miami
3. Nama:zaki indomie
   Kota:ohio
4. Nama:agus fried chicken
   Kota:ohio